body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wc-text {
    margin-top: -41%;
    margin-left: -58%;
    color: #212529;
    text-shadow: #212529 0 0 2.5px;
    font-family: Papyrus, fantasy;        
}

.container {
    max-width: 490px;
    padding: 27px 36px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-left: 10%;
    position: fixed;
    transition: all 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.03);
}

.container svg {
    width: 70px;
    height: 70px;
    margin: 5px 90px 20px 90px;
    fill: #ff6347;
    transition: fill 0.3s ease;
}

.container:hover svg {
    fill: #d63e21;
}

.profile-info {
    margin-bottom: 20px;
    color: #555;
}

.profile-info label {
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.profile-info span {
    display: inline-block;
    color: #666;
}

.logout-btn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30%;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #d63e21;
}
